extends ../layout

block content

  table.table.table-striped.table-bordered.table-hover.table-condensed
      tbody
        tr
          td Media name: #{video.title}
          td Transcoding format: #{video.originalMediaFileFormat} to #{video.transcodedMediaFileFormat}
          td Size #{video.size}
          td #{report.parameters[0]["value"]} %
  table.table.table-striped.table-bordered.table-hover.table-condensed
      tbody
        tr
          td
            img(src="/images/msu-blocking.png")
        tr  
          td
            img(src="/images/msu-blurring.png")
        tr  
          td
            img(src="/images/apsnr.png")
        tr  
          td
            img(src="/images/psnr.png")
            